
@import "../variables.scss";
@import "../typography.scss";



.spinner {
    animation: spin 2s linear infinite;
    border-radius: 50%;
}

.smallSize {
    width: 2rem;
    height: 2rem;
    border: 0.5rem solid $text;
    border-top: 0.5rem solid $primary;
}

.largeSize {
    width: 4rem;
    height: 4rem;
    border: 0.7rem solid $text;
    border-top: 0.7rem solid $primary;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}